<mat-card class="main-transport-card" appearance="outlined">
    <mat-card-content class="card">
        <mat-form-field class="input">
            <mat-label>Brand</mat-label>
            <input matInput readonly [value]="this.transport().brand" />
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Model</mat-label>
            <input matInput readonly [value]="this.transport().model" />
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Year</mat-label>
            <input
                type="number"
                matInput
                readonly
                [value]="this.transport().year"
            />
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Renter</mat-label>
            <input
                matInput
                readonly
                [value]="
                    this.transport().renter
                        ? this.transport().renter.username
                        : ''
                "
            />
            @if(this.transport().renter) {
            <button mat-icon-button matSuffix (click)="renterInfoClick()">
                <mat-icon>info</mat-icon>
            </button>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Location</mat-label>
            <input
                type="text"
                [value]="this.transport().location"
                aria-label="Number"
                matInput
                readonly
            />
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Address</mat-label>
            <input matInput readonly [value]="this.transport().address" />
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Description</mat-label>
            <textarea
                matInput
                maxlength="500"
                [value]="this.transport().description"
                readonly
            ></textarea>
        </mat-form-field>
    </mat-card-content>
</mat-card>
