<div class="formContainer">
    <div class="formSignin">
        <h2 class="formSigninHeading">Sign In</h2>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input
                matInput
                [type]="passwordVisibility ? 'text' : 'password'"
                [(ngModel)]="password"
            />
            <button mat-icon-button matSuffix (click)="hideClick($event)">
                <mat-icon>{{
                    this.passwordVisibility ? "visibility_off" : "visibility"
                }}</mat-icon>
            </button>
        </mat-form-field>

        <button
            [disabled]="disableButton"
            class="button"
            mat-flat-button
            color="primary"
            (click)="signInClick()"
        >
            Sign In
        </button>

        <button
            class="button"
            mat-flat-button
            color="primary"
            (click)="registerClick()"
        >
            Register
        </button>
    </div>
</div>
