.container {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.button {
    grid-column: 1/2;
    justify-self: end;
    width: fit-content;
    margin-right: 15px;
}

.transports-container {
    grid-column: 2/3;
}
