<div class="container">
    <h2 class="formSigninHeading">My Transports</h2>
    <button
        class="button"
        mat-flat-button
        color="primary"
        (click)="this.showNewTransportForm = true"
    >
        Add new
    </button>
    <div class="transports-container">
        @if(this.showNewTransportForm) {
        <new-transport-component
            [username]="this.user()?.username"
            (cancelClickEvent)="this.showNewTransportForm = false"
            (transportCreatedEvent)="updateTransportsList()"
        ></new-transport-component>
        } @for (transport of transports; track transport.uuid) {
        <my-transport-component
            [transport]="transport"
            (transportDeletedEvent)="updateTransportsList()"
        ></my-transport-component>
        }
    </div>
</div>
