<div class="main-container">
    <mat-toolbar class="toolbar">
        <mat-toolbar-row class="toolbar-row">
            <span class="title">Rento</span>
            <div class="buttons">
                <span class="username">{{ this.user?.username }}</span>
                <button
                    mat-flat-button
                    (click)="this.state = MainComponentState.mainTransports"
                >
                    Home
                </button>
                @if(this.user && this.user.role == 'admin') {
                <button
                    mat-flat-button
                    (click)="this.state = MainComponentState.users"
                >
                    Users
                </button>
                <button
                    mat-flat-button
                    (click)="this.state = MainComponentState.transports"
                >
                    Transports
                </button>
                } @else if (this.user && this.user.role == 'user') {
                <button
                    mat-flat-button
                    (click)="this.state = MainComponentState.myTransports"
                >
                    My transports
                </button>
                <button
                    mat-flat-button
                    (click)="this.state = MainComponentState.rentedTransports"
                >
                    Rented transports
                </button>
                } @if(this.user) {
                <button
                    mat-flat-button
                    (click)="this.state = MainComponentState.settings"
                >
                    Settings
                </button>
                <button mat-flat-button (click)="logOutClick()">Log out</button>
                } @else {
                <button mat-flat-button (click)="logInClick()">Log in</button>
                }
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="content-container">
        @switch(state) { @case(MainComponentState.mainTransports) {
        <main-transports-tab-component
            [user]="this.user"
        ></main-transports-tab-component>
        } @case(MainComponentState.myTransports) {
        <my-transports-tab-component
            [user]="this.user"
        ></my-transports-tab-component>
        } @case(MainComponentState.rentedTransports) {
        <rented-transports-tab-component></rented-transports-tab-component>
        } @case(MainComponentState.settings) {
        <settings-component
            [user]="this.user"
            (editEndEvent)="editEndEvent()"
        ></settings-component>
        } @case(MainComponentState.transports) {
        <admin-transports-tab-component></admin-transports-tab-component>
        } @case(MainComponentState.users) {
        <admin-users-tab-component></admin-users-tab-component>
        } }
    </div>
</div>
